<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/CSS/central_de_jogos.css">
    <title>Document</title>
</head>
<body>
    <h1>Jogar:</h1>

    <div class="container-jogos">
        <div class="jogo-wraper">
            <a href="jogos/cidade-dorme">cidade dorme</a>
        </div><!--jogos-wraper-->

        <div class="jogo-wraper">
            <a href="jogos/jogo-da-velha">Jogo da velha</a>
        </div><!--jogos-wraper-->
    </div><!--container-jogos -->
</body>
<script src="/public/JS/centralde_jogos.js"></script>
</html>