<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/CSS/jogos/jogo_da_velha.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="players-wraper">
            <div class="player" id="player_one">
                <div class="player-icon"></div><!--player-icon-->
                <div class="player-name">
                    <h1 id="player_one_name"></h1>
                </div><!--player-name-->
            </div><!--player-->
        </div><!--players-wraper-->

        <div class="players-wraper">
            <div class="player" id="player_two">
                <div class="player-icon"></div><!--player-icon-->
                <div class="player-name">
                    <h1 id="player_two_name"></h1> 
                </div><!--player-name-->
            </div><!--player-->
        </div><!--players-wraper-->
    </header>
</body>
<script src="/public/JS/JQuery.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
    const username = '<%= username %>'
</script>
<script src="/public/JS/jogos/jogo_da_velha.js"></script>
</html>