<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Não Encontrada - 404</title>
    <link rel="stylesheet" href="/public/CSS/erros_css/page404.css">
</head>
<body>
    <div class="error-container">
        <div class="error-message">
            <h1>404</h1>
            <h2>Ops! Página não encontrada.</h2>
            <p>Não conseguimos encontrar a página que você está procurando. Talvez ela tenha sido movida ou não exista.</p>
            <a href="/" class="home-link">Voltar para a Página Inicial</a>
        </div>
    </div>
</body>
</html>
