<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../public/images/icons/icon_principal.ico">
    <link rel="stylesheet" href="../public/CSS/home_css/page_initial.css">
    <%- background_val %>
    <title>Página inicial</title>
</head>
<body>
    <header>
        <div class="separar" id="container-configuracoes">
            <a href="/<%= username.split('_').join('-') %>/configuracoes">
                <% if(check_background){ %>
                    <div class="config" style="background-image: url(/public/images/icons/settings_light.svg);"></div><!-- config -->
                <% }else{ %>
                    <div class="config" style="background-image: url(/public/images/icons/settings_dark.svg);"></div><!-- config -->
                <% } %>
            </a>
        </div><!-- Separar -->

        <div class="separar">
            <div class="container-icon-user">
                <div class="icon-user" style="background-image: url('<%= image ? image : '/public/user_icons/iconDefault/icon-padrão.webp' %>');"></div><!-- icon-user -->
            </div><!-- container-icon-user -->
        </div><!-- Separar -->
    </header>

    <section class="container-applications">
        <div class="applications">
            <a href="chat">ir para o chat</a>
        </div><!-- applications -->

        <div class="applications">
            <a href="jogos">jogos</a>
        </div><!-- applications -->
    </section>
</body>
<script src="../public/JS/JQuery.js"></script>
<script src="../../public/JS/home_js/page_initial.js"></script>
</html>