* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    padding: 20px;
}

h1 {
    font-size: 2rem;
    margin-bottom: 30px;
    text-align: center;
    color: var(--cor-texto);
}

a {
    display: inline-block;
    font-size: 1.2rem;
    color: var(--cor-link);
    text-decoration: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    background-color: var(--cor-fundo-secundario);
    transition: background-color 0.3s, color 0.3s;
}

a:hover {
    background-color: var(--cor-fundo-hover);
    color: white;
}

a[href$="/home"] {
    background-color: var(--cor-link-ativo);
}

a[href$="/home"]:hover {
    background-color: var(--cor-link-hover);
}

a[href$="/register"], a[href$="/login"] {
    background-color: var(--cor-secundario);
    color: #fff;
}

a[href$="/register"]:hover, a[href$="/login"]:hover {
    background-color: var(--cor-fundo-hover);
}

@media (max-width: 600px) {
    body {
        padding: 10px;
    }

    h1 {
        font-size: 1.5rem;
    }

    a {
        font-size: 1rem;
        padding: 8px 15px;
        margin: 8px;
    }
}

a[href$="/register"], a[href$="/login"] {
    display: inline-block;
}

a[href$="/register"]:not(:last-child), a[href$="/login"]:not(:last-child) {
    margin-right: 15px;
}
