*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
}

body{
    background-color: rgb(105, 105, 201);
}

header{
    width: 100%;
    height: 150px;
    display: flex;
}

header .separar{
    width: 50%;
    height: 100%;
}

header .separar .container-icon-user{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: right;
    padding: 10px 30px 0 0;
}

header .separar .container-icon-user .icon-user{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: cover;
}

header .separar#container-configuracoes{
    padding: 20px;
}

header .separar#container-configuracoes a{
    width: 30px;
    height: 30px;
    display: flex;
}

header .separar .config{
    width: 100%;
    height: 100%;
    background-image: url(../images/icons/settings-glyph-black-icon-png_293809-removebg-preview\ \(1\).png);
    background-size: cover;
    transition: all 0.5s;
}

header .separar .config:hover{
    transform: scale(1.2);
}