<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../public/images/icons/icon_principal.ico">
    <link rel="stylesheet" href="../public/CSS/chat.css">
    <title>Chat</title>
</head>
<body>
    <header>
        <form action="/<%= username.split('_').join('-') %>/buscar-user" method="get">
            <div class="container-procura">
                <input type="search" id="search" name="username" placeholder="Buscar usuários">
                <div class="container-users" id="container-users">
                    <div id="users-wraper"></div><!-- users-wraper -->
                    <div class="users">
                    </div><!-- users -->
                </div><!-- container-users -->
            </div><!-- container-procura -->
        </form>
    </header>

    <section class="container">
        <div class="container-friends">
            <h1>Lista de amigos:</h1>

            <div class="friends-wraper">
                <% friends.forEach((friend)=>{ %>
                    <div class="friend">
                        <div class="friend-icon" title="<%= friend %>">teste</div><!-- friend-icon -->
                    </div><!-- friend -->
                <% }) %>
            </div><!-- friends-wraper -->
        </div><!-- container-friends -->
    </section><!-- container -->
</body>
<script src="../public/JS/JQuery.js"></script>
<script src="/socket.io/socket.io.js"></script> 
<script>
    let usersList = <%- JSON.stringify(usersList) %>;
</script>
<script src="../public/JS/chat.js"></script>
</html>