<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../public/images/icons/icon_principal.ico">
    <link rel="stylesheet" href="../public/CSS/chat.css">
    <title>Chat</title>
</head>
<body>
    <header>
        <form action="/<%= username.split('_').join('-') %>/buscar-user" method="get">
            <div class="container-procura">
                <input type="search" id="search" name="username" placeholder="Buscar usuários">
                <div class="container-users" id="container-users">
                    <div id="users-wraper"></div><!-- users-wraper -->
                    <div class="users">
                    </div><!-- users -->
                    <div class="err-wraper">
                        <p id="err">O campo não pode está vazio.</p>
                    </div><!-- container-err -->
                </div><!-- container-users -->
            </div><!-- container-procura -->
        </form>
    </header>

    <section class="container">
        <div class="container-users-add">

        </div><!-- container-users-add -->
    </section><!-- container -->
</body>
<script src="../public/JS/JQuery.js"></script>
<script src="/socket.io/socket.io.js"></script> 
<script>
    let usersList = <%- JSON.stringify(usersList) %>;
</script>
<script src="../public/JS/chat.js"></script>
</html>