<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/CSS/jogos_css/cidade_dorme.css">
    <%- background_val %>
    <title>Cidade dorme</title>
</head>
<body>
    <div class="container-users"></div><!-- container-users -->
</body>
<script src="/public/JS/JQuery.js"></script>
<script src="/socket.io/socket.io.js"></script> 
<script>
    const username = '<%= username %>';
    const users_icons = <%- JSON.stringify(users_icons) %>;
</script>
<script src="/public/JS/jogos_js/cidade_dorme.js"></script>
</html>