<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../public/images/icons/icon_principal.ico">
    <link rel="stylesheet" href="../public/CSS/config_user.css">
    <title>Configurações</title>
</head>
<body>
    <form method="post" id="envi_photo_icon" enctype="multipart/form-data">
        <input type="file" name="photo_icon" id="photo_icon">
        <input type="submit" name="enviar" value="Enviar">
    </form>

    <h2>Voltar para <a href="/<%= username.split('_').join('-') %>/home">Página inicial</a></h2>
</body>
<script src="../public/JS/JQuery.js"></script>
<script>
    var username = '<%= username %>';
</script>
<script src="../public/JS/config_user.js"></script>
</html>