<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/public/images/icons/icon_principal.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/CSS/config_user.css">
    <title>Configurações</title>
</head>
<body>
    <section class="container">
        <div class="separar">
            <div class="container-icon-user">
                <form id="envi_photo_icon" action="/<%= username %>/upload-icon" accept="image/*" method="post" enctype="multipart/form-data">
                    <div class="container-err">
                        <input type="file" name="photo_icon" accept="image/*">
                        <input type="submit" value="Enviar">
                        <p id="err" style="display:none;">O arquivo não pode estar vazio.</p>
                    </div><!-- container-err -->
                </form>
            </div><!-- container-icon-user -->
        </div><!-- separar -->

        <div class="separar"></div><!-- separar -->
    </section><!-- container -->

    <div class="clear"></div><!-- clear -->

    <script src="/public/JS/JQuery.js"></script>
    <script src="/public/JS/config_user.js"></script>
</body>
</html>
