<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../public/images/icons/icon_principal.ico">
    <link rel="stylesheet" href="../public/CSS/home.css">
    <title>Home</title>
</head>
<body>
    <h1>Vá para a pagina de:</h1>
    <a href="/register">Registrar</a>
    <a href="/login">Login</a>
</body>
<script src="../public/JS/JQuery.js"></script>
<script src="../public/JS/JQuery.js"></script>
</html>