<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../public/images/icons/icon_principal.ico">
    <link rel="stylesheet" href="../public/CSS/page_initial.css">
    <title>Página inicial</title>
</head>
<body>
    <header>
        <div class="container-icon-user">
            <div class="icon-user"></div>
        </div><!-- container-icon-user -->
    </header>

    <h1>Ir para:</h1>

    <a href="/<%= username.split('_').join('-') %>/configuracoes">Configurar usuário</a>
</body>
<script src="../public/JS/JQuery.js"></script>
<script>
    var username = '<%= username %>';
    var icon = `<%= icon %>` === 'true';

    console.log(icon);

    if(icon){
        var imageName = '<%= imageName %>';

        const Icon_user = $('.icon-user');
        const localIcon = `../public/user_icons/${username}/${imageName}`;

        Icon_user.css('background-image', `url(${localIcon})`);
    }
</script>
<script src="../public/JS/page_initial.js"></script>
</html>